.chat{
    background-size: 50%;
    background-color: white;
    color:black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-top: 2cm;
    display: grid;
    align-content: space-between;
    justify-content: space-evenly;
    grid-template-columns: auto auto;
    margin-left: auto;
    margin-right:auto;
}

.conversatii{
    inline-size: 20%;
    background-color: white;
    color:black;
}

.mesajuser{
    inline-size: 70%;
    background-color: white;
    color:black;
}