.pagina{
    background-size: 50%;
    background-color: rgb(227, 128, 128);
    color:black;
    font-family:initial;
    text-align: center;
    align-content: space-between;
    justify-content: space-evenly;
    grid-template-columns: auto auto;
    margin-left: auto;
    margin-right:auto;
}

.conversatii{
    inline-size: 20%;
    background-color: rgb(72, 181, 185);
    color: black;
    position: absolute;
    width: 1200px;
    left: 25%;
    bottom: 1cm;
    top: 1cm;
    text align:left ;
}

.mesajuser{
    inline-size: 70%;
    color:black;
}

.Avatar{
    border-radius: 50%;
}
.mesaje {
    position: absolute;
    top: 1cm;
    left: 1cm;
    right: 1cm;
    bottom: 1cm;
    width: 350px;
    border: 5px solid black;
    align-content: top;
  }

.mesajuser {
    position: absolute;
    width: 700px;
    top: 1cm;
    border: 5px solid black;
    right: 1cm;
    bottom: 1cm;
    text-align: left;
}
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 10px 10px 10px;
  }
  .darker {
    border-color: #338de6;
    background-color: #338de6;
  }
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  .time-right {
    float: right;
    color: #aaa;
  }
  .time-left {
    float: left;
    color: #999;
  }
.top{
  position:absolute;
  height: 1cm;
  border: 5px solid black;
  width: 600px;
  right : 1cm;
}